.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.userform {
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: center;
}

.error {
  color: red;
  font-size: 10px;
}